#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: var(--sat) 20px 0 20px;
    z-index: 1000;
    color: white;
}

.gdpr {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    margin: 15px;
    color: #333;
    font-family: "Roboto", sans-serif;
}

.gdpr-title {
    font-size: 18px;
    padding: 15px;
    font-weight: 1000;
}

.gdpr-content {
    font-size: 18px;
    padding: 0 15px 15px 15px;
    margin-bottom: 10px;
    margin-top: -1px;
}